<br><h2 class="text-center"><%= @odd.teams %></h2><br>

<%= render 'errors' %>
<h1 class> New Bet </h1> 
<%= form_for([@odd, @bet]) do |f| %>
    <%= f.label(:amount) %> 
    <%= f.number_field :amount %><br> 
    
    <%= f.label(:team) %>
    <%= f.text_field :team %><br>
    <%= f.label(:odds) %>
    <%= f.select(:odds, @odds_selection) %><br>

    <%= f.submit %> 
<% end %>
<%= render 'sites' %>


