<h1> Placed Bet </h1>

<p>
    <h1>User:<%= @bet.user.email %></h1>
    <h1>Amount <%= number_to_currency(@bet.amount) %></h1>
    <h1>Odds <%= @bet.odds %></h1>
    <h1>Team <%= @bet.team %></h1>
</p><br>

<% if @bet.user.id == current_user.id  %>
<%= link_to "edit", edit_bet_path(@bet) %>
<%= button_to "delete", bet_path(@bet), method: 'delete' %>
<% end %>
