<!DOCTYPE html>
<html>
  <head>
    <title>TopSportsBook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Top Sports Book Rails</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="btn btn-outline-danger" href='<%=articles_path%>' role="button">
                Articles 
                </a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-primary" href='<%=sports_path%>' role="button">
                Sports 
                </a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-success" href="<%=bets_risky_bets_path%>" role="button">
                Risky Bets 
                </a>
              </li>
              <% if user_signed_in? %>
              <li class="nav-item">
                <a class="btn btn-outline-success" href="<%=bets_my_bets_path%>" role="button">
                My Bets
                </a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-success" href="<%=destroy_user_session_path%>" role="button">
                Sign Out 
                </a>
              </li>
              <% else %>
              <li class="nav-item">
                <a class="btn btn-outline-success" href="<%=new_user_session_path%>" role="button">
                Sign In 
                </a>
              </li>
              <% end %>
            </ul>
          </div>
      </div>
    </nav>
    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
